{
    "1": {"name": "Example Series First Arc", "search_type": "ANIME"},
    "2": {"name": "Example Series Second Arc", "search_type": "ANIME"},
    "3": {"name": "Example Series Movie Arc", "search_type": "NOVEL"}
}
